@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Fluid Typography Base - Only Core Tokens Allowed */
@theme {
  --color-canvas-light: #FAFAFA;
  --color-canvas-dark: #1C1C1E;
  --color-primary-copper: #804526;
  
  --font-serif: "Marcellus", serif;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  html {
    @apply antialiased scroll-smooth;
  }
}
